extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    h3 Bootstrap Icon
    span.glyphicon.glyphicon-search(aria-hidden="true")
    h3 Font Awesome Icon
    i.fa.fa-american-sign-language-interpreting(aria-hidden="true")
  a(href="/about") About Page
